.quem-somos{
    height: 100%;
    display: flex;
    background-color: lightyellow;
    align-items: center;
  }
  .avatar-img{
    height: 70%;
    margin: 1em;
   }
   .card-description{
    text-align: center;
  }
  .titulo-card{
    font-weight: bold;
  }
 