*{
 font-family: 'Roboto', sans-serif;
}
.container {
  display: grid;
  height: 100vh;
  width: 100%;
  margin-bottom: 15px;
  grid-gap: 5px;
  grid-template-areas:
    "header header header"
    "main main aside1"
    "main main aside2"
    "footer footer footer";
  grid-template-columns: 33.3% 33% 33%;
  grid-template-rows: auto 50% 50% auto;
}
@media screen and (max-width: 450px) {
  .container {
    display: grid;
    height: 100vh;
    width: 100%;
    margin-bottom: 15px;
    grid-gap: 5px;
    grid-template-areas:
      "header "
      "main "
      "aside1"
      "aside2"
      "footer";
    grid-template-columns: auto;
    grid-template-rows: 64px 30% 25% 25% 64px;
  }
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #00497e;
  color: #fff;
}
span{
  margin: 15px;
}
.titulo{
  font-weight: bold;
  font-size: 24px;
}
.search-bar{
  grid-area: main;
  height:100%;
  width:100%;
}

.nosso-projeto{
  grid-area: aside1;
  height: 100%;
  color: #00497e
}
.quem-somos {
  grid-area: aside2;
  height: 100%;
  color: #00497e
}

.rodape {
  grid-area: footer;
  height: 64px;
  margin-top: 5px;
  display: flex;
  background-color: #00497e;
  justify-content: space-between;
}

.logo{
  height: 3.5em;
  padding: 5px;
  background-color: #00497e;
}
/* Atributos Universais*/
.borda{
  border:1px solid lightslategrey ;
  box-shadow: lightslategrey;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
}