*{
  font-family: sans-serif;
}
.titulo{
  font-weight: bold;
  font-size: 24px;
  padding: 5px 15px;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 5px; 
    border:1px solid lightslategrey ;
    box-shadow: lightslategrey
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(56, 56, 56);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.5s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-weight: bold;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.search-bar{
    height: 70vh;
    width: 100%;
    margin: 10px 0auto;
    background: #FFFFFF;
    padding: 5px;
    border:1px solid lightslategrey ;
    border-radius: 5px;
    box-shadow: lightslategrey
}
 .nosso-projeto,.quem-somos{
    background: #FFFFFF;
    margin: 10px 0;
    height: 30vh;
    width: 100%;
    border-radius: 5px;
    border:1px solid lightslategrey ;
    box-shadow: lightslategrey
}

.formulario-busca{
    margin: 20% auto;
    display: flex;
    flex-direction: column;
}

.botao-busca{
    width: 98px;
    margin: auto;
}
.barra-busca{
    margin: 20px;
}
.quem-somos{
  display: flex;
  flex-direction: column;
}
.titulo-card{
  padding: 5px;
  text-align: center;
}

.avatar-img{
  height: auto;
  width: 40%;
  padding: 10px;
  float: right;
}

.card-description{
  width: 60%;
  height: 100%;
  text-align: justify;
  padding: 15px;
  clear: left;
  text-align: center;
}

.rodape{
    width: 100vw;
    height: 64px;
    margin-top: 5px;
    background: #FFFFFF;
    border:1px solid lightslategrey ;
    box-shadow: lightslategrey   
}
