*{
  font-family: sans-serif;
  
}
.titulo{
  font-weight: bold;
  font-size: 24px;
  padding: 5px 15px;
}
.menu{
    display: flex;
    width: 95vw;
    margin: 0 auto;
    justify-content: space-between;
    padding: 5px 15px;
    
}

.container{
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 auto;
  background: #FFFFFF;
}
.search-bar{
    height: 70vh;
    width: 100%;
    margin: 10px auto 0 auto;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
   
}
 .nosso-projeto{
    height: 100%;
    margin-top: 10px;
    width: 100%;
    
}

.formulario-busca{
    margin: 50% auto;
    display: flex;
    flex-direction: column;
}

.botao-busca{
    width: 98px;
    margin: 15px auto;
}
.barra-busca{
    margin: 20px;
}
.quem-somos{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;
}
.titulo-card{
  padding: 5px;
  text-align: center;
}

.avatar-img{
  height: auto;
  width: 40%;
  padding: 10px;
  float: right;
}

.card-description{
  width: 60%;
  height: 100%;
  text-align: justify;
  padding: 15px;
  clear: left;
  text-align: center;
}

.rodape{
    width: 95vw;
    height: 64px;
    margin-top: 10px;
    margin:10px auto 0 auto;
    background: #FFFFFF;
   
}

/* Atributos Universais*/

.borda{
  border:1px solid lightslategrey ;
  box-shadow: lightslategrey;
  border-radius: 5px;
}