<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- CSS da Página-->
    <link rel ="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/carrousel.css') }}">  
    <link rel ="stylesheet" href="{{ url_for('static', filename='style/quem-somos') }}">
    <link rel="stylesheet" href=".{{ url_for('static', filename='style/search-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/projeto.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <title>ItapeVagas</title>
</head>
<body>
    
</body>
</html>