{% extends "template.html" %}
{% block conteudo %}
    <div class="container">
        <section class="search-bar borda">
            <form class="formulario-busca">
                <label class='titulo-formulario-busca'>Busque sua Vaga:</label>
                <input type="text" id="busca" class='barra-busca' name="busca" placeholder="Busque sua vaga!">
                <input type="submit" class=' botao-busca' value="Buscar Vaga">
            </form>
        </section>
        <section class='nosso-projeto borda'>
            <h1 class="titulo-projeto">Nosso Projeto</h1>
            <p>Este projeto tem como objeto o desenvolvimento de uma aplicação web para publicação de vagas de empregos na cidade de Itapevi.
            Assim como a candidatura dos interessados nas vagas facilitando e aproximando empregadores e candidatos
            </p>
            <br>
            <p>Desenvolvido na disciplina "Projeto Integrador" temos como objetivo proporcional a nossa sociedade uma integração com a 
                universidade, fazendo com que nossos estudos beneficiem os municipes de Itapevi. 
            </p>
        </section>
        <section class= 'quem-somos borda'>
        <!-- CARROUSEL DE CARDS -->
            <div class="slideshow-container">
                <!-- CARDS -->
                {% for membro_grupo in lista_membros %}
                <div class="mySlides fade">
                    <a href='{{membro_grupo[2]}}'>
                        <img class="avatar-img" src="{{ membro_grupo[3]}}" alt="avatar">
                    </a> 
                    <div class="card-description">
                        <h3 class=titulo-card>{{membro_grupo[0]}}</h3>
                        <p class="card-text">{{membro_grupo[1]}}</p>
                        
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                {%endfor%}
                <!-- Next and previous buttons -->
                
            </div>
    </div>
{% endblock %}
